<div class="container">
  <h2>Journey Version</h2>
  <br>
  <form [formGroup]="journeyVersionForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Journey:</label>
      <div>{{ journey?.name }}</div>
    </div>
    <div class="form-group">
      <label>Version:</label>
      <input type="text" #refName class="form-control" formControlName="version_number" placeholder="Journey Version">
      <nsdc-validator [control]="journeyVersionForm.controls['version_number']"></nsdc-validator>
    </div>
    <div class="form-group">
      <label>File Validator:</label>
      <input type="text" #refName class="form-control" formControlName="validator" placeholder="File Validator e.g. vat_*">
      <nsdc-validator [control]="journeyVersionForm.controls['validator']"></nsdc-validator>
    </div>
    <div class="form-group">
      <label>Valid Extensions:</label>
      <input type="text" #refName class="form-control" formControlName="extensions" placeholder="Valid Extensions e.g. txt,rar,zip">
      <nsdc-validator [control]="journeyVersionForm.controls['extensions']"></nsdc-validator>
    </div>
    <div class="form-group">
      <label>Type:</label>
      <select class="form-control" formControlName="protocol">
        <option value="default">Default</option>
        <option value="secure">Secure</option>
      </select>
      <nsdc-validator [control]="journeyVersionForm.controls['protocol']"></nsdc-validator>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
