<table class="journey-table table table-hover" *ngIf="!loading">
  <thead>
  <tr>
    <th>Journey Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let journey of journeys"
    [ngClass]="{'row-selected': selectedJourneyId == journey.id }"
    (click)="onSelectJourney(journey.id)"
  >
    <td>{{ journey.name }}</td>
    <td>{{ journey.description }}</td>
    <td class="options options-large">
      <a
        [nsdcConfirmModal]="'Are you sure you want to delete this Journey?'"
        class="icon-links glyphicon glyphicon-remove right"
        (confirmed)="onDeleteClicked(journey.id)"
      >
      </a>
      <a
        class="icon-links glyphicon glyphicon-edit right"
        (click)="onEditClicked($event, journey.id)"
      >
      </a>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="!loading">
  <h3>Versions</h3>
  <div class="manage">
    <button
      class="btn btn-primary right"
      [routerLink]="['/journeys/', selectedJourneyId, 'versions', 'add']"
    >
      Add Version
    </button>
  </div>
</div>
<router-outlet></router-outlet>
