<div class="container">
  <h2>Suppliers</h2>
  <div class="manage">
    <a class="btn btn-primary right" [routerLink]="['/suppliers/add']">Add Supplier</a>
  </div>                
  <table *ngIf="!loading" class="table table-hover">
    <thead>
      <tr>
        <th>Supplier Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers">
        <td>{{supplier.name}}</td>
        <td>{{supplier.description}}</td>
        <td class="options options-large">
          <button
            [nsdcConfirmModal]="'Are you sure you want to delete this supplier?'"
            class="btn btn-danger right"
            (confirmed)="onDelete(supplier.id)"
          >Delete</button>
          <button
            class="btn btn-primary btn-extra right"
            [routerLink]="['/suppliers', supplier.id]"
          >Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <nsdc-loading *ngIf="loading"></nsdc-loading>
</div>
