<div class="container">
  <h2>Suppliers</h2>
  <div class="manage">
    <a class="btn btn-primary right" [routerLink]="['/suppliers/add']">Add Supplier</a>
  </div>                
  <table *ngIf="!loading" class="table table-hover">
    <thead>
      <tr>
        <th>Supplier Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers">
        <td>{{supplier.name}}</td>
        <td>{{supplier.description}}</td>
        <td>
          <a
            [nsdcConfirmModal]="'Are you sure you want to delete this supplier?'"
            class="icon-links glyphicon glyphicon-remove right"
            (confirmed)="onDelete(supplier.id)"
          ></a>
          <a
            class="icon-links glyphicon glyphicon-edit right"
            [routerLink]="['/suppliers', supplier.id]"
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
  <loading *ngIf="loading"></loading>
</div>
