<div class="container">
    <h2>Update User Detail</h2>
    <br>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <label>First Name:</label>
            <input type="text" #refName class="form-control" formControlName="firstname">                       
            <div *ngIf="userForm.controls['firstname'].hasError('required')" class="alert alert-danger">
                Please enter a name.
            </div>
            <div *ngIf="userForm.controls['firstname'].hasError('minlength')" class="alert alert-danger">
                Name needs to be atleast 3 characters long.
            </div>
            <div *ngIf="userForm.controls['firstname'].hasError('maxlength')" class="alert alert-danger">
                Name cannot exceed 30 characters.
            </div>
        </div>
        <div class="form-group">
            <label>Lastame:</label>
            <input type="text" #refName class="form-control" formControlName="lastname">                       
            <div *ngIf="userForm.controls['lastname'].hasError('required')" class="alert alert-danger">
                Please enter a name.
            </div>
            <div *ngIf="userForm.controls['lastname'].hasError('minlength')" class="alert alert-danger">
                Name needs to be atleast 3 characters long.
            </div>
            <div *ngIf="userForm.controls['lastname'].hasError('maxlength')" class="alert alert-danger">
                Name cannot exceed 30 characters.
            </div>
        </div>
        <div class="form-group">
            <label>Role:</label>
            <select class="form-control" formControlName="role_id">
                <option style="display:block" value="null">Choose an option</option>
                <option *ngFor="let lrole of roles" [value]="lrole.id">{{ lrole.name }} </option>
            </select>
            <div *ngIf="userForm.controls['role_id'].hasError('required')" class="alert alert-danger">
                Please enter role.
            </div>            
        </div>
        <div class="form-group">
            <label>Username:</label>
            <input type="text" #refName class="form-control" formControlName="username">                       
            <div *ngIf="userForm.controls['username'].hasError('required')" class="alert alert-danger">
                Please enter a username.
            </div>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" #refName class="form-control" formControlName="password">                       
            <div *ngIf="userForm.controls['password'].hasError('required')" class="alert alert-danger">
                Please enter a password.
            </div>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" formControlName="email">
            <div *ngIf="userForm.controls['email'].hasError('required')" class="alert alert-danger">
                Invalid email format.
            </div>            
        </div>
        <div class="form-group">
            <label>Supplier:</label>
            <select class="form-control" formControlName="supplier_id">
                <option style="display:block" value="null">Choose an option</option>
                <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{ supplier.name }} </option>
            </select>
            <div *ngIf="userForm.controls['supplier_id'].hasError('required')" class="alert alert-danger">
                Please enter supplier.
            </div>            
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>    
    </form>
</div>
