<div *ngIf="!loading">
  <div>
    <a [routerLink]="['/roles']">Roles</a> >
    {{ role.name }}
  </div>
  <div class="dashboard-tag">
    Please use the following to associate a Role to Journey Versions.
  </div>
  <nsdc-dual-list-container
    otherTitle="Other Permissions"
    currentTitle="Current Permissions"
    (saveClicked)="saveUpdatedRolePermissions()"
    (cancelClicked)="cancel()"
    [saveDisabled]="submitPending"
    [cancelDisabled]="submitPending"
  >
    <dual-list
      [sort]="keepSorted"
      [source]="allPermissions"
      [key]="key"
      [display]="display"
      [(destination)]="selectedPermissions"
      height="265px"
    >
    </dual-list>
  </nsdc-dual-list-container>
</div>
<nsdc-loading *ngIf="loading"></nsdc-loading>
