<div class="container">
    <h2>Add Journey</h2>
    <br>
    <form [formGroup]="journeyForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" #refName class="form-control" formControlName="name" placeholder="Journey name">
            <div *ngIf="journeyForm.controls['name'].hasError('required') && submitAttempt" class="alert alert-danger">
                Please enter a name.
            </div>
            <div *ngIf="journeyForm.controls['name'].hasError('minlength')" class="alert alert-danger">
                Name needs to be at least 3 characters long.
            </div>
            <div *ngIf="journeyForm.controls['name'].hasError('maxlength')" class="alert alert-danger">
                Name cannot exceed 30 characters.
            </div>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <input type="text" #refName class="form-control" formControlName="description" placeholder="Description">
            <div *ngIf="journeyForm.controls['description'].hasError('required') && submitAttempt" class="alert alert-danger">
                Please enter a Description.
            </div>
        </div>
        <div class="form-group">
            <label>Validator:</label>
            <input type="text" #refName class="form-control" formControlName="validator" placeholder="Journey Validator e.g. vat_*">
            <div *ngIf="journeyForm.controls['validator'].hasError('required') && submitAttempt" class="alert alert-danger">
                Please enter a short name.
            </div>
            <div *ngIf="journeyForm.controls['validator'].hasError('minlength')" class="alert alert-danger">
                Short name needs to be at least 3 characters long.
            </div>
            <div *ngIf="journeyForm.controls['validator'].hasError('maxlength')" class="alert alert-danger">
                Short name cannot exceed 30 characters.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
