
body {
    background: #fff;
}

a {
  color: #03A9F4;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.manage {
  padding: 0 0 20px 0;
}

.form-group-margin {
  margin: 20px 0 35px 0;
}

.link {
  color: #03A9F4;
  cursor: pointer;
}

.success {
  color: green;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.user-details-modal {
  display: none;
}
