
body {
    background: #fff;
}

a {
  color: #03A9F4;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.manage {
  padding: 0 0 20px 0;
}

.form-group-margin {
  margin: 20px 0 35px 0;
}

.link {
  color: #03A9F4;
  cursor: pointer;
}

.success {
  color: green;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.user-details-modal {
  display: none;
}

.btn-extra {
  margin-right: 10px;
}

.options {
  width: 150px;
}

.options-large {
  width: 265px;
}

.btn-lg {
  font-size: 23px !important;
  padding: 20px !important;
  margin-right: 10px !important;
  margin-bottom: 15px;
}

.glyphicon {
  top: 3px !important;
  margin-right: 10px;
}

.profile-link {
  cursor: pointer;
}

.btn-container {
  display: inline;
}

.dashboard-tag {
  padding: 15px 0 25px 0;
  font-style: italic;
}