<div class="container">
  <h2>Permissions</h2>
  <div class="manage">
    <a class="btn btn-primary right" [routerLink]="['/permissions/add']">Add Permission</a>
  </div>                
  <table *ngIf="!loading" class="table table-hover">
    <thead>
      <tr>
        <th>Permission Name</th>
        <th>Short Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let permission of permissions">
        <td><a href="#" [routerLink]="['/permissions', permission.id]" routerLinkActive="active">{{permission.name}}</a></td>
        <td>{{permission.short_name}}</td>
        <td>{{permission.description}}</td>
        <td class="options">
          <button class="btn btn-danger right" (click)="onDeleteClicked(permission.id)">
            Delete
          </button>
          <button
            class="btn btn-primary btn-extra right"
            [routerLink]="['/permissions', permission.id]">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nsdc-loading *ngIf="loading"></nsdc-loading>
</div>
