<div class="container">
  <h2>Permissions</h2>                    
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Permission Name</th>
        <th>Description</th>                     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let permission of permissions">
        <td><a href="#" [routerLink]="['/permissions', permission.id]" routerLinkActive="active">{{permission.permission_name}}</a></td>
        <td>{{permission.permission_desc}}</td>            
      </tr>
    </tbody>
  </table>
</div>
