<div class="container">
  <h2>Journey Schedule</h2>
  <br>
  <div *ngIf="!loading">
    <div class="form-group">
      <label>Date:</label>
      <nsdc-date-picker
        [(date)]="schedule.date"
        class="date-picker"
      ></nsdc-date-picker>
    </div>
    <div class="form-group">
      <label>Status:</label>
      <span class="status">
        {{schedule.status}}
      </span>
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">Submit</button>    
  </div>
  <loading *ngIf="loading"></loading>
</div>
