<div *ngIf="!loading">
  <div *ngIf="version">
    <a [routerLink]="['/journeys', version.journey_id, 'version', version.id]">
      Version {{ version.version_number }}</a> >
    Edit Steps
  </div>
  <nsdc-dual-list-container
    otherTitle="Other Steps"
    currentTitle="Current Steps"
    (saveClicked)="saveUpdatedJourneyVersionSteps()"
    (cancelClicked)="cancel()"
    [saveDisabled]="submitPending"
    [cancelDisabled]="submitPending"
  >
    <dual-list
      [sort]="keepSorted"
      [source]="allSteps"
      [key]="key"
      [display]="display"
      [(destination)]="selectedSteps"
      height="265px"
    >
    </dual-list>
  </nsdc-dual-list-container>
</div>
<loading *ngIf="loading"></loading>
