<div class="container">
  <h2>Roles</h2>
  <div class="manage">
    <a class="btn btn-primary right" [routerLink]="['/roles/add']">Add Role</a>
    <a class="btn btn-primary btn-extra right" [routerLink]="['/roles/manage']">Manage</a>
    <div class="clear"></div>
  </div>
  <table *ngIf="!loading" class="table table-hover">
    <thead>
      <tr>
        <th>Role Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles">
        <td><a href="#" [routerLink]="['/roles', role.id]" routerLinkActive="active">{{role.name}}</a></td>
        <td>{{role.description}}</td>
        <td class="options options-large">
          <button class="btn btn-danger right" (click)="onDeleteClicked(role.id)">
            Delete
          </button>
          <button
            class="btn btn-primary btn-extra right "
            [routerLink]="['/roles', role.id]">
            Edit
          </button>
          <button
                class="btn btn-info btn-extra right "
                [routerLink]="['/roles/' + role.id + '/permissions']">
            Permissions
          </button>
          <button
                  class="btn btn-warning btn-extra right "
                  [routerLink]="['/roles/' + role.id + '/journey-versions']">
            Journey Versions
          </button>
        <td>
      </tr>
    </tbody>
  </table>
  <loading *ngIf="loading"></loading>
</div>
