<div>
  <h2>File Upload</h2>
  <br />
  <div  *ngIf="!loading">
    <table class="table" *ngIf="journeyVersionSchedules && journeyVersionSchedules.length">
      <thead>
      <tr>
        <th>Journey</th>
        <th>Version</th>
        <th>Schedule Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let journeyVersionSchedule of journeyVersionSchedules">
        <td>{{ journeyVersionSchedule.name }}</td>
        <td>{{ journeyVersionSchedule.version_number }}</td>
        <td>{{ journeyVersionSchedule.date | date:"MMMM y" }}</td>
        <td class="options options-large">
          <button class="btn btn-primary right" [routerLink]="['/upload', journeyVersionSchedule.id]">
            Upload
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="!journeyVersionSchedules.length">
      You do not have any scheduled uploads at the moment.
    </div>
  </div>
  <nsdc-loading *ngIf="loading"></nsdc-loading>
</div>
