<div class="row">
  <div class="col-md-12">
    <h2>File Upload</h2>
  </div>
</div>
<div [hidden]="uploading || uploadComplete || uploadError">
  <p>
    Drag and drop a file into the area or browse a file via button.
  </p>
  <div class="row">
    <div class="col-md-12">
      <div
        class="dnd-container"
        ngFileDrop
        [options]="options"
        (onUpload)="handleUpload($event)"
        [ngClass]="{'file-over': hasBaseDropZoneOver}"
        (onFileOver)="fileOverBase($event)"
      >
        <h2 class="dnd">
          Drag & Drop
        </h2>
        <label class="btn btn-danger btn-upload">
          <input
            class="hidden"
            type="file"
            ngFileSelect
            [options]="options"
            (onUpload)="handleUpload($event)"
          >
          Browse
        </label>
        <div class="upload-filename" *ngIf="uploader._queue.length">
          File Name: {{uploader._queue[0].name}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button
        type="submit"
        class="btn btn-primary btn-upload-submit"
        (click)="startUpload()"
        [disabled]="!uploader._queue.length"
      >
        Submit
      </button>
    </div>
  </div>
</div>
<div *ngIf="uploading">
  Uploading
  <div class="progress">
    <div
      class="progress-bar progress-bar-success progress-bar-striped"
      role="progressbar"
      [attr.aria-valuenow]="uploadingPercentage"
      aria-valuemin="0"
      aria-valuemax ="100"
      style="min-width: 2em;"
      [style.width]="uploadingPercentage + '%'"
    >
      {{uploadingPercentage}}%
    </div>
  </div>
  {{uploadingSpeedHumanized}}
</div>
<div *ngIf="uploadError">
  <p>
    Error
  </p>
  <p>
    There was a problem uploading this file.
  </p>
  <p>
    {{uploadErrorMessage}}
  </p>
  <div>
    <button
      class="btn btn-primary btn-upload-another"
      (click)="uploadAnother()"
    >
      Try Again
    </button>
  </div>
</div>
<div *ngIf="uploadComplete">
  <p>File Upload Complete.</p>
  <p>You can track the file on the audit screen if you have permission or upload another.</p>
  <p>File name on server: {{uploadedFilename}}</p>
  <div>
    <button
      class="btn btn-primary btn-upload-another"
      (click)="uploadAnother()"
    >
      Upload Another
    </button>
  </div>
</div>
