<div style="display:-webkit-box;display:flex;flex-direction:row;align-content:flex-start;">
	<form style="width:50%;margin:0px;">
		<button type="button" name="addBtn" class="btn btn-primary"
			style="display:block;width:100%;margin-bottom:8px;"
			(click)="moveItem(available, confirmed)"
			[disabled]="available.pick.length === 0">Add&nbsp;&nbsp;&nbsp;&nbsp;&#9654;</button>

		<div class="record-picker">
			<ul [ngStyle]="{'max-height': height, 'min-height': height}" [ngClass]="{over:available.dragOver}"
				(drop)="drop($event, confirmed)" (dragover)="allowDrop($event, available)" (dragleave)="dragLeave()">
				<li *ngFor="let item of available.list; let idx=index;"
					(click)="selectItem(available.pick, item); shiftClick($event, idx, available, item)"
					[ngClass]="{selected: isItemSelected(available.pick, item)}"
					draggable="true" (dragstart)="drag($event, item, available)" (dragend)="dragEnd(available)"
				><label>{{item._name}}</label></li>
			</ul>
		</div>

		<div style="margin-top:8px;">
			<button type="button" class="btn btn-primary"
				style="width:47%;float:left;" (click)="selectAll(available)"
				[disabled]="isAllSelected(available)">All</button>
			<button type="button" class="btn btn-default"
				style="width:47%;float:right;margin-right:0px;" (click)="selectNone(available)"
				[disabled]="!isAnySelected(available)">None</button>
		</div>
	</form>

	<form style="width:50%;margin:0 0 0 10px;">
		<button type="button" name="removeBtn" class="btn btn-primary"
			style="display:block;width:100%;margin-bottom:8px;"
			(click)="moveItem(confirmed, available)"
			[disabled]="confirmed.pick.length === 0">&#9664;&nbsp;&nbsp;&nbsp;&nbsp;Remove</button>

		<div class="record-picker">
			<ul [ngStyle]="{'max-height': height, 'min-height': height}" [ngClass]="{over:confirmed.dragOver}"
				(drop)="drop($event, available)" (dragover)="allowDrop($event, confirmed)" (dragleave)="dragLeave()">
				<li *ngFor="let item of confirmed.list; let idx=index;"
					(click)="selectItem(confirmed.pick, item); shiftClick($event, idx, confirmed, item)"
					[ngClass]="{selected: isItemSelected(confirmed.pick, item)}"
					draggable="true" (dragstart)="drag($event, item, confirmed)" (dragend)="dragEnd(confirmed)"
				><label>{{item._name}}</label></li>
			</ul>
		</div>
		<div style="margin-top:8px;">
			<button type="button" class="btn btn-primary"
				style="width:47%;float:left;" (click)="selectAll(confirmed)"
				[disabled]="isAllSelected(confirmed)">All</button>
			<button type="button" class="btn btn-default"
				style="width:47%;float:right;margin-right:0px;" (click)="selectNone(confirmed)"
				[disabled]="!isAnySelected(confirmed)">None</button>
		</div>
	</form>
</div>
