<div>
  <div class="col-md-12">
    <div class="dual-list-header-row">
      <h5 class="dual-list-header">{{otherTitle}}</h5>
      <h5 class="dual-list-header">{{currentTitle}}</h5>
    </div>
  </div>
  <div class="col-md-12">
    <ng-content></ng-content>
  </div>
  <div class="col-md-12">
    <div class="btn-row">
      <button
        class="btn btn-primary"
        (click)="saveClicked.emit()"
        [disabled]="saveDisabled"
      >
        Save
      </button>
      <button
        class="btn btn-danger"
        (click)="cancelClicked.emit()"
        [disabled]="cancelDisabled"
      >Cancel</button>
    <div>
  <div>
</div>
