<div class="container">
    <h2>User Data</h2>
    <br>
    
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <label>Firstame:</label>
            <input type="text" #refName class="form-control" formControlName="firstname" placeholder="Your firstname">                       
            <div *ngIf="userForm.controls['firstname'].hasError('required') && submitAttempt" class="alert alert-danger">
                Please enter a name.
            </div>
            <div *ngIf="userForm.controls['firstname'].hasError('minlength')" class="alert alert-danger">
                Name needs to be atleast 3 characters long.
            </div>
            <div *ngIf="userForm.controls['firstname'].hasError('maxlength')" class="alert alert-danger">
                Name cannot exceed 30 characters.
            </div>
        </div>

        <div class="form-group">
            <label>Lastame:</label>
            <input type="text" #refName class="form-control" formControlName="lastname" placeholder="Your lastname">                       
            <div *ngIf="userForm.controls['lastname'].hasError('required') && submitAttempt" class="alert alert-danger">
                Please enter a name.
            </div>
            <div *ngIf="userForm.controls['lastname'].hasError('minlength')" class="alert alert-danger">
                Name needs to be atleast 3 characters long.
            </div>
            <div *ngIf="userForm.controls['lastname'].hasError('maxlength')" class="alert alert-danger">
                Name cannot exceed 30 characters.
            </div>
        </div>

        <div class="form-group">
            <label>Role:</label>
            <select class="form-control" formControlName="role_id">
                <option style="display:block" value="">Choose an option</option>
                <option *ngFor="let lrole of roles" [value]="lrole.id">{{ lrole.role_name }} </option>
            </select>
            <div *ngIf="userForm.controls['role_id'].hasError('required')" class="alert alert-danger">
                Please enter role.
            </div>            
        </div>

        <div class="form-group">
            <label>Username:</label>
            <input type="text" #refName class="form-control" formControlName="username" placeholder="Your username">                       
            <div *ngIf="userForm.controls['username'].hasError('required') && submitAttempt" class="alert alert-danger">
                Please enter a username.
            </div>
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input type="text" #refName class="form-control" formControlName="password" placeholder="Your password">                       
            <div *ngIf="userForm.controls['password'].hasError('required') && submitAttempt" class="alert alert-danger">
                Please enter a password.
            </div>
        </div>

        <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" formControlName="email" placeholder="Your email">
            <div *ngIf="userForm.controls['email'].hasError('required') && submitAttempt" class="alert alert-danger">
                Please enter email address.
            </div>            
        </div>

        <div class="form-group">
            <label>Supplier:</label>
            <select class="form-control" formControlName="supplier_id">
                <option style="display:block" value="">Choose an option</option>
                <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{ supplier.supplier_name }} </option>
            </select>
            <div *ngIf="userForm.controls['supplier_id'].hasError('required')" class="alert alert-danger">
                Please enter supplier.
            </div>            
        </div>

        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>    
    </form>
</div>