<div class="container">
  <h2>Users</h2>
  <div class="manage">
    <a class="btn btn-primary right" [routerLink]="['/users/add']">Add User</a>
    <div class="clear"></div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>UserName</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Status</th>                      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><a href="#" [routerLink]="['/users', user.id]" routerLinkActive="active">{{user.username}}</a></td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td> 
        <td>{{user.status}}</td>
      </tr>
    </tbody>
  </table>
</div>
