<div class="container">
  <h2>Users</h2>
  <div class="manage">
    <button
      class="btn btn-primary right"
      [routerLink]="['/users/add']"
    >
      Add User
    </button>
  </div>
  <select class="form-control user-status" (change)="onStatusChange($event.target.value)">
    <option value="active">active</option>
    <option value="inactive">inactive</option>
  </select>
  <nsdc-user-table
    [users]="users"
    *ngIf="!loading"
    (deactivateClicked)="onDeactivate($event)"
    (editClicked)="onEdit($event)"
  >
  </nsdc-user-table>
  <loading *ngIf="loading"></loading>
</div>
