@import '~bootstrap/dist/css/bootstrap.css';

body {
    background: #fff;
}

a {
  color: #03A9F4;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.manage {
  padding: 0 0 20px 0;
}

.form-group-margin {
  margin: 20px 0 35px 0;
}

.link {
  color: #03A9F4;
  cursor: pointer;
}

.success {
  color: green;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.user-details-modal {
  display: none;
}

.btn-extra {
  margin-right: 10px;
}

.options {
  width: 150px;
}

.options-large {
  width: 265px;
}

.btn-lg {
  font-size: 23px !important;
  padding: 20px !important;
  margin-right: 10px !important;
  margin-bottom: 15px;
}

.glyphicon {
  top: 3px !important;
  margin-right: 10px;
}

.profile-link {
  cursor: pointer;
}

.btn-container {
  display: inline;
}

.dashboard-tag {
  padding: 15px 0 25px 0;
  font-style: italic;
}

.manage-permissions {
  float: right;
  width: 50%;
  overflow: auto;
  position: relative;
  top: -20px;
}

.role-user-section {
  margin: 25px 0 25px 0;
}

.role-section {
  margin: 25px 0 0 0;
}

.table-select {
  cursor: pointer;
}

.row-selected {
  background: #eee;
}

.icon-links {
  color: #000;
  cursor: pointer;
}

.icon-links:hover {
  color: #ccc;
  text-decoration: none;
}

.journey-table tr {
  cursor: pointer;
}

.journey-table tr td:last-child {
  width: 0;
  padding: 8px 0 8px 0;
  margin: 0;
}

.journey-section {
  margin: 50px 0 50px 0;
}

.journey-section-table {
  margin-top: 20px;
}

.journey-section a {
  position: relative;
  top: -2px;
  left: 8px;
}

.h3 {
  font-size: 24px;
  margin: 20px 0 10px 0;
}