<div class="container">
  <h2>Journey</h2>
  <br>
  <form [formGroup]="journeyForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Supplier:</label>
      <select class="form-control" #refName formControlName="supplier_id">
        <option style="display:block" value="null">Choose an option</option>
        <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{ supplier.name }} </option>
      </select>
      <nsdc-validator [control]="journeyForm.controls['supplier_id']"></nsdc-validator>
    </div>
    <div class="form-group">
      <label>Name:</label>
      <input type="text" #refName class="form-control" formControlName="name" placeholder="Journey name">
      <nsdc-validator [control]="journeyForm.controls['name']"></nsdc-validator>
    </div>
    <div class="form-group">
      <label>Description:</label>
      <input type="text" #refName class="form-control" formControlName="description" placeholder="Description">
      <nsdc-validator [control]="journeyForm.controls['description']"></nsdc-validator>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
